Twisted
importing
Pygments
ipython==0.10
python-Levenshtein
simplejson
lindypy==0.2
cyrusbus==0.1.0
python-nmap

bzr+http://launchpad.net/txjsonrpc/0.3#egg=txjsonrpc
svn+http://codespeak.net/svn/user/niemeyer/constraint/trunk/#egg=constraint
pep362
git+git://github.com/mattvonrocketstein/channels#egg=channel
jinja2==2.6
#-e git+git://github.com/mattvonrocketstein/reporting.git#egg=report
#-e git+git://github.com/mattvonrocketstein/spock.git#egg=spock
## for graphing with the web-service
#pygraphviz
#apt-get install graphviz
#apt-get install graphviz-dev
#networkx
#matplotlib

# search-service
git+git://github.com/mattvonrocketstein/xgoogle.git#egg=xgoogle
