Twisted
importing
Pygments
ipython
python-Levenshtein
simplejson
lindypy
python-nmap
cyrusbus
bzr+http://launchpad.net/txjsonrpc/0.3#egg=txjsonrpc
svn+http://codespeak.net/svn/user/niemeyer/constraint/trunk/#egg=constraint
